#ignore the workspace for the Spring Tools Suite
sts_workspace/

#ignore node_modules folder in frontend
frontend/node_modules/

#ignore notes.txt file used personally
notes.txt

#ignore the pictures folder
pictures/